@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@800 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

/* Imagen de fundo */

body {
    background-image: url(/img/Login_Edumind.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}


/* Frase */

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-right: 100px;
}

span {
    color: blueviolet;
    font-size: 50px;
}

.esquerda {
    width: 50%;
}

h1 {
    color: blueviolet;
    font-size: 30px;
    margin-top: 30px;
}


/* Form login Inicio*/

main {
    display: flex;
    width: 1600px;
}

.direita {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 450px;
}

/* Inicio Formulario */

p {
    color: blueviolet;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    margin-top: 5px;
    color: blueviolet;
}

.login,
.senha {
    padding: 5px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background: transparent;
}

.psico,
.prof,
.aluno {
    padding: 5px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background: transparent;
}

/* Botão */

.b_criar,
.b_voltar {
    font-weight: bold;
    color: white;
    background-color: rgb(64, 64, 214);
    margin-top: 2px;
    margin-right: 40px;
    margin-left: 70px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px;
    box-shadow: 10px 5px 5px rgb(64, 64, 214);
    border-radius: 15px;
}

.aluno {
    margin-left: 80px;
}

.prof {
    margin-left: 31px;
}

.psico {
    margin-left: 35px;
}

.selcao_box {
    padding: 12px;
}